* {
  box-sizing: border-box;
}

html,
body {       
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.9);
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px;
  font-size: 17px;
  text-decoration: none;
}

.header a:hover {
  text-decoration: none;
  background-color: rgb(56, 57, 58);
}

.page_title{
  background-image: url(https://images.pexels.com/photos/346885/pexels-photo-346885.jpeg?cs=srgb&dl=adventure-ball-shaped-blur-346885.jpg&fm=jpg);
  height: 80vh;
  background-size:cover;
  background-position:center;
  text-align:center;
}

.page_title h1{
  font-size: 60px;
  padding-top:60px;
}

.info {
  text-align: center;
  width: 80vw; 
  margin: auto;
  padding: 50px 0;
}


.destination_wrapper {
  display: flex; /*instead of float. justify content */
}

.destinations {
  position: relative;
  width: 100%;
  text-align: center;
}

.destinations a {
  display: block;
  width: 100%;
  height: 100%;
}

.text_effect {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgb(57, 61, 68);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.destinations:hover .text_effect {
  opacity: 0.5;
  overflow: hidden;
}

.regions {
  color: rgb(255, 255, 255);
  font-size: 44px;
  font-weight: bold;
}

.lists {
  clear: both;
}

.parts {
  clear: both;
  padding: 15px;
  margin: 10px;
}
/**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/
.imagelinks:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
}
.imagelinks:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
.imagelinks:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
/**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/
.lists a:hover {
  color: rgb(56, 57, 58);
  background-color: transparent;
  text-decoration: none;
}
.lists a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
.lists a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
/**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/

.city_sections {
  padding: 30px 0;
  clear: both;
}

.city_sections h2 {
  text-transform: uppercase;
  text-align: center;
}

.city_sections:nth-child(odd) img {
  float: left;
  margin-right: 20px;
  width: 40%;
}

.city_sections:nth-child(even) img {
  float: right;
  margin-left: 20px;
  width: 40%;
}

.text {
  font-size: 18px;
  line-height: 2em;
  padding:0px 20px;
}


.about {
  background-color: rgb(30, 30, 30);
  color: rgb(115, 116, 119);
  font-size: 14px;
  padding: 10px;
  display: flex;
  justify-content: space-between; /*right left alignment*/
  clear: both;
}


.footer {
  height: 50px;
  background-color: rgb(15, 15, 15);
  color: rgb(115, 116, 119);
  text-align: center;
  padding-top: 10px;
  paddin-bottom: 10px;
  font-size: 12px;
  clear: both;
}

#heart {
  color: red;
}

