*{box-sizing: border-box;}

.site_title, .heading, .intro_text, .footer_menu, .disclaimer, .disclaimer_mobile, .latest_mobile{
    font-family: 'Work Sans', sans-serif;
}

.site_title{
    margin-top:8vh;
    margin-left:2vw;
    font-size:20px;
}

.intro_text{
    max-width: 600px;
    margin-left: 35vw;
    margin-bottom: 20vh;
}

.heading{
    margin-top: 15vh;
    margin-left:2vw;
    font-size: 0.9em;
}

.image_wrapper{
    height:4000px;
    position:relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.disclaimer{
    display: flex;
    margin-left: 40%;
    margin-bottom:10px;
    margin-top: 5%;
    font-size: 0.7em;

}

.disclaimer div{width: 161px; margin:20px;}

.footer_menu li{
    display: flex;
    margin-left: 30%;
    font-size: 0.7em; 
    font-weight: bold;
}

img{
    position: relative;
    display: block;
    filter: grayscale(100%);
    transition: .3s ease-in-out;
    margin: 10px;
    margin-right: 0;
    max-width: 425px;
    overflow: hidden;
    width: 90%;
}

img:hover{filter: grayscale(0);}

.overlay {
    position: absolute; 
    top: 0; 
    background: rgba(255,255,255,0.9);
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: black;
    padding: 20px;
}

.container:hover .overlay{opacity: 1;}

.container{position: relative;}

a{text-decoration: none;color: black;}

.disclaimer_mobile, .latest_mobile{display: none;}

@media only screen and (max-width:700px){

    .image_wrapper div{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 50%;
        overflow: hidden;
    }

    .image_wrapper .overlay {display: none;}

    .disclaimer, .footer_menu{display: none;}
    
    .intro_text{
        font-size:0.9em;
        margin-top:10px;
        margin-left:10px;
        margin-bottom: 20px;
    }
    
    .heading{margin-top: 40px;}

    .disclaimer_mobile{
        display: block;
        font-size: 0.65em;
        font-weight: bold;
        color: gray;
    }
    .disclaimer_mobile div{
        margin:20px 10px 5px 10px;
    }

    .latest_mobile{
        font-weight: bold;
        font-size: 0.7em;
        display: block;
        margin:20px 10px 100px 10px;
    }
    .latest_mobile h4{
        margin-bottom: 15px;
    }
}
